/* General Blueprint Style */
@font-face {
    font-family: 'bpicons';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/bpicons/bpicons.eot');
    src: url('../fonts/bpicons/bpicons.eot?#iefix') format('embedded-opentype'), url('../fonts/bpicons/bpicons.woff') format('woff'), url('../fonts/bpicons/bpicons.ttf') format('truetype'), url('../fonts/bpicons/bpicons.svg#bpicons') format('svg');
}

/* Made with http://icomoon.io/ */

/* Resets */

*,
*:after,
*:before {
    box-sizing: border-box;
}

/* Helper classes */

.cf:before,
.cf:after {
    content: ' ';
    display: table;
}

.cf:after {
    clear: both;
}

/* Main styles */

body {
    font-family: 'Avenir Next', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
    margin: 0;
    color: #cecece;
    background: #808080;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: #5c5edc;
    outline: none;
}

a:hover {
    color: #fff;
}

/* Blueprint header */

.page-header {
    padding: 6em 10vw 2em;
}

.page-header-title {
    font-size: 2.125em;
    font-weight: 700;
    line-height: 1.3;
    margin: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
}

.page-header-desc {
    font-size: 0.95em;
    margin: 0.5em 0 1em;
    padding: 0;
}

.page-header-present {
    font-size: 0.85em;
    font-weight: 700;
    position: relative;
    z-index: 100;
    display: block;
    padding: 0 0 0.6em 0.1em;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    color: #5c5edc;
}

.page-tooltip:after {
    font-size: 50%;
    font-size: 75%;
    position: relative;
    top: -8px;
    left: -12px;
    width: 30px;
    height: 30px;
}

.page-tooltip:hover:before {
    content: attr(data-content);
    font-size: 110%;
    font-weight: 700;
    line-height: 1.2;
    position: absolute;
    left: auto;
    margin-left: 4px;
    padding: 0.8em 1em;
    text-align: left;
    text-indent: 0;
    letter-spacing: 0;
    text-transform: none;
    color: #fff;
    background: #5c5edc;
}

.page-nav {
    margin: 0 0 0 -0.75em;
}

.page-nav-item {
    position: relative;
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    margin: 0 0.1em;
    text-align: left;
    border-radius: 50%;
}

.page-nav-item > span {
    display: none;
}

.page-nav-item:hover:before {
    content: attr(data-info);
    font-size: 0.85em;
    font-weight: bold;
    position: absolute;
    top: 120%;
    left: 0;
    width: 600%;
    text-align: left;
    pointer-events: none;
    color: #595a5f;
}

.page-nav-item:hover {
    background: #5c5edc;
}

.page-icon:after {
    font-family: 'bpicons';
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    text-align: center;
    text-transform: none;
    color: #5c5edc;
    -webkit-font-smoothing: antialiased;

    speak: none;
}

.page-nav .page-icon:after {
    line-height: 2.4;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent: 0;
}

.page-nav a:hover:after {
    color: #fff;
}

.bp-icon--next:after {
    content: '\e000';
}

.page-icon-drop:after {
    content: '\e001';
}

.page-icon-archive:after {
    content: '\e002';
}

.page-icon-about:after {
    content: '\e003';
}

.page-icon-prev:after {
    content: '\e004';
}

form {
    background: #111;
    width: 450px;
    margin: 30px auto;
    border-radius: 0.4em;
    border: 1px solid #191919;
    overflow: hidden;
    position: relative;
    bottom: 55px;
    left: 15%;
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.2);
}

form:after {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: 100px;
    left: 20%;
    background: linear-gradient(left, #111, #444, #b6b6b8, #444, #111);
    top: 0;
}

form:before {
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    height: 5px;
    border-radius: 50%;
    left: 34%;
    top: -7px;
    box-shadow: 0 0 6px 4px #fff;
}

.inset {
    padding: 20px;
    border-top: 1px solid #19191a;
}

form h1 {
    font-size: 18px;
    text-shadow: 0 1px 0 black;
    text-align: center;
    padding: 15px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    position: relative;
}

form h1:after {
    content: "";
    display: block;
    width: 250px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 50px;
    pointer-events: none;
    transform: rotate(70deg);
    -webkit-transform: rotate(70deg);
    background: linear-gradient(50deg, rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0));
    background-image: -webkit-linear-gradient(50deg, rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0)); /* For Safari */

}

label {
    color: #ddd;
    display: block;
    padding-bottom: 9px;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 8px 5px;
    background: linear-gradient(#1f2124, #27292c);
    border: 1px solid #222;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    border-radius: 0.3em;
    margin-bottom: 20px;
}

label[for=remember] {
    color: white;
    display: inline-block;
    padding-bottom: 0;
    padding-top: 5px;
}

input[type=checkbox] {
    display: inline-block;
    vertical-align: top;
}

.p-container {
    padding: 0 20px 20px 20px;
}

.p-container:after {
    clear: both;
    display: table;
    content: "";
}

.p-container span {
    display: block;
    float: left;
    color: #5c5edc;
    padding-top: 8px;
}

input[type=submit] {
    padding: 5px 20px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3),
    inset 0 10px 10px rgba(255, 255, 255, 0.1);
    border-radius: 0.3em;
    background: #5c5edc;
    color: white;
    float: right;
    font-weight: bold;
    cursor: pointer;
    font-size: 13px;
}

input[type=submit]:hover {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3),
    inset 0 -10px 10px rgba(255, 255, 255, 0.1);
}

input[type=text]:hover,
input[type=password]:hover,
label:hover ~ input[type=text],
label:hover ~ input[type=password] {
    background: #27292c;
}

@media screen and (max-width: 40em) {
    .page-header {
        padding: 50px 20px 1em;
    }

    .page-header-title {
        font-size: 1.8em;
    }
}
